:root {
  color-scheme: light;
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", system-ui, sans-serif;
  line-height: 1.75;
  font-weight: 400;
  color: #111;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 48px 24px 80px;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 32px;
}

p {
  margin: 0 0 1.2em;
}

article :where(h2, h3, h4) {
  margin-top: 2em;
  margin-bottom: 0.8em;
  font-weight: 600;
}

article :where(ul, ol) {
  padding-left: 1.2em;
  margin: 0 0 1.2em;
}

article :where(a) {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.status {
  font-size: 0.95rem;
  color: #555;
}

@media (max-width: 600px) {
  main {
    padding: 32px 18px 64px;
  }

  h1 {
    font-size: 1.5rem;
  }
}
